<html>
	<head>
		<!--FancyBox-->
		<script>
			$("#about").fancybox({
			'width'         : '600px',
			'height'        : '600px',
			'autoScale'     : false,
			'transitionIn'  : 'none',
			'transitionOut' : 'none',
			'type'          : 'iframe',
			'enableEscapeButton' : true,
			'fitToView' : true,
						'autoSize' : false
			});
			
			$("#statistics").fancybox({
			'width'         : '400',
			'height'        : '390',
			'autoScale'     : false,
			'transitionIn'  : 'none',
			'transitionOut' : 'none',
			'type'          : 'iframe',
			'scrolling'     : 'no',
			'enableEscapeButton' : true,
			'fitToView' : true,
						'autoSize' : false
			});
			
			$("#photo").fancybox({
				'width'         : '400px',
				'height'        : '280px',
				'autoScale'     : false,
				'transitionIn'  : 'none',
				'transitionOut' : 'none',
				'type'          : 'iframe',
				'enableEscapeButton' : true
			});
			   	
			
		</script>
		<script language="JavaScript" src="//code.jquery.com/jquery-1.10.2.min.js" type="text/javascript"></script>
		<script language="JavaScript" type="text/javascript">
			$(document).ready(function(){
				$("#box_header_m").hide();
				
			$("#box_header").click(function(){
						 $("#side_panel").toggle("slide");
						 $("#box_header_m").toggle("slide");
				});
				
				$("#box_header_m").click(function(){
						 $("#side_panel").toggle("slide");
						 $("#box_header_m").toggle("slide");
				});
			});
				
		</script>
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	</head>
	<body>
		<div id="head_line"></div>
		<div id="box_header_m">
			<i class="fa fa-angle-double-left fa-2x"></i>
		</div>
		
		<%= render "tweets" %>
		
		<div id="footer">
			<a id="about" class="fancybox.iframe" rel="group" href="sobre" title="Sobre">
				<title2>Sobre</title2>
			</a>
			<a id="statistics" class="fancybox.iframe" rel="group" href="estatisticas" title="Estatísticas">
				<title2>Estatísticas</title2>
			</a>
		</div>
		<div id="logotipo">
			<a href="/">
			<img src="logotipo.png" />
			</a>
		</div>
		<%= gmaps4rails(@json) %>
	</body>
</html>