<p>O projeto #BioBR tem como objetivo principal mapear a biodiversidade através dos tweets dos usuários.</p>
<p>Para contribuir basta ser usuário do Twitter e postar com uma das hashtags expostas abaixo, com a foto do animal ou planta avistado e com a geolocalização ativada (importante para mostrar sua localização no mapa).</p>
<p> Se possível, o usuário poderá fornecer informações adicionais sobre o espécime observado: nome da espécie, artigos científicos, informações sobre o local, tudo que puder trazer em 140 caracteres sobre o que foi observado será bem vindo.</p>
<p>Este projeto é de autoria do LAA (Laboratório de Automação Agrícola) da Escola Politécnica da USP e tem o apoio do BioComp (Núcleo de Pesquisa em Biodiversidade e Computação). Para mais informações destas instituições, do seu campo de atuação e de seus projetos, acesse:</p>
<p align="center"><b>Biocomp</b>: <a href="http://www.biocomp.org.br/">www.biocomp.org.br</a></p>
<p align="center"><b>LAA</b>: <a href="http://www.pcs.usp.br/~laa/">www.pcs.usp.br/~laa/</a></p>
<title1>Hashtags</title1>
<br />

<div id="Hashtags">
	<div id="Hashtags_1">
		<p>#FaunaUSP</p>
		<p>#FloraUSP</p>
		<p>#BioUSP</p>
	</div>
	<div id="Hashtags_2">
		<p>#FaunaBR</p>
		<p>#FloraBR</p>
		<p>#BioBR</p>
	</div>
	<div id="Hashtags_3">
		<p>#WorldBio</p>
	</div>
</div>

<div id="Hashtags_Aviso">
	<p><b>Aviso:</b> Ao utilizar uma das hashtags acima você estará concordando que o #BioBr armazene e utilize algumas de suas informações para fazer análises da qualidade dos dados capturados.</p>
</div>



				
