<div id="map"></div>
<script type="text/javascript">
	var markers;
	var mapOptions = {
		center: new google.maps.LatLng(<%= @latitude %>, <%= @longitude %>),
		
		<% if (@latitude == 0 && @longitude == 0) %>
			zoom : 3,
		<% else %>
			zoom: 14,
		<% end %>
		
		panControlOptions: {
        	position: google.maps.ControlPosition.LEFT_CENTER
    	},
    	
    	zoomControlOptions: {
        	style: google.maps.ZoomControlStyle.LARGE,
        	position: google.maps.ControlPosition.LEFT_CENTER
    	},
    	
    	scaleControl: true,
    	scaleControlOptions: {
        	position: google.maps.ControlPosition.BOTTOM_LEFT
    	},
    	

	};
	
  	handler = Gmaps.build('Google', { markers: { maxRandomDistance: 1 } });
  	
  	
	handler.buildMap( {provider: mapOptions, internal: {id: 'map'}}, function(){
		handler.removeMarkers(markers);
    	markers = handler.addMarkers(<%=raw @hash.to_json %>);
  	});


</script>