<title>Legendas</title>
<table class="table">
	<tr>
		<th>Símbolo</th>
		<th>Hashtag</th>
	</tr>
	<tr>
		<td>
			<img src="flowers_cyan.png" />
		</td>
		<td>#FloraUSP</td>
	</tr>
	<tr>
		<td>
			<img src="frog-2_cyan.png" />
		</td>
		<td>#FaunaUSP</td>
	</tr>
	<tr>
		<td>
			<img src="arbol_cyan.png" />
		</td>
		<td>#BioUSP</td>
	</tr>
	<tr>
		<td>
			<img src="flowers_green.png" />
		</td>
		<td>#FloraBR</td>
	</tr>
	<tr>
		<td>
			<img src="frog-2_green.png" />
		</td>
		<td>#FaunaBR</td>
	</tr>
	<tr>
		<td>
			<img src="arbol_green.png" />
		</td>
		<td>#BioBR</td>
	</tr>
	<tr>
		<td>
			<img src="arbol_blue.png" />
		</td>
		<td>#WorldBio</td>
	</tr>
</table>