<html>
	<head>
		<!--FancyBox-->
		<script>
			$("#iframe").fancybox({
			'width'         : '60%',
			'height'        : '90%',
			'autoScale'     : false,
			'transitionIn'  : 'none',
			'transitionOut' : 'none',
			'type'          : 'iframe'
		});
		</script>
		
	</head>

	<body>
		<div id="header" style="vertical-align:bottom;padding:0px;text-align:center;font-size:34px;">
			#biobr
		</div>

		<div id="content">
			<iframe src="tweetbox" width="100%" height="100%" frameborder="0"></iframe>
		</div>

		<div id="footer">
			<a id="iframe" class="fancybox" rel="group" href="about.html" title="Sobre">Sobre.</a>
		</div>

		<%= gmaps4rails(@json) %>
	
	</body>
</html>
