<html>
	<head>
		<script>
			!function(d,s,id){
				var js,fjs=d.getElementsByTagName(s)[0],
				p=/^http:/.test(d.location)?'http':'https';
				if(!d.getElementById(id)){
					js=d.createElement(s);
					js.id=id;
					js.src=p+"://platform.twitter.com/widgets.js";
					fjs.parentNode.insertBefore(js,fjs);
				}
			}
			(document,"script","twitter-wjs");
		</script>
	</head>

	<body>
		<div id="header">
			<h1>#Bio</h1>
		</div>

		<div id="content">
			<a class="twitter-timeline"
				href="https://twitter.com/search?q=%23FaunaUSP+OR+%23FloraUSP+OR+%23BIOUSP+OR+%23FAUNAUSP+OR+%23FLORAUSP+OR+%23BIOBR+OR+%23FAUNABR+OR+%23FLORABR+OR+%23WORLDBIO&mode=realtime"
				data-widget-id="375406187627286530"
				data-chrome="nofooter transparent noscrollbar">
			</a>      
		</div>

		<div id="footer">
			<a href="#">Sobre</a>
			<a href="https://twitter.com/intent/tweet?button_hashtag=FaunaUSP" class="twitter-hashtag-button" data-lang="pt" data-size="large">Tweet #FaunaUSP</a>
			<a href="https://twitter.com/intent/tweet?button_hashtag=FloraUSP" class="twitter-hashtag-button" data-lang="pt" data-size="large">Tweet #FloraUSP</a>
			<a href="https://twitter.com/intent/tweet?button_hashtag=BioUSP" class="twitter-hashtag-button" data-lang="pt" data-size="large">Tweet #BioUSP</a>
			<a href="https://twitter.com/intent/tweet?button_hashtag=FaunaBR" class="twitter-hashtag-button" data-lang="pt" data-size="large">Tweet #FaunaBR</a>
			<a href="https://twitter.com/intent/tweet?button_hashtag=FloraBR" class="twitter-hashtag-button" data-lang="pt" data-size="large">Tweet #FloraBR</a>
			<a href="https://twitter.com/intent/tweet?button_hashtag=BioBR" class="twitter-hashtag-button" data-lang="pt" data-size="large">Tweet #BioBR</a>
			<a href="https://twitter.com/intent/tweet?button_hashtag=WorldBio" class="twitter-hashtag-button" data-lang="pt" data-size="large">Tweet #WorldBio</a>


		</div>

		<%= gmaps4rails(@json) %>
	
	</body>
</html>
