<html>
	<head>
		<!--Twitter-->
		<script>
			!function(d,s,id){
				var js,fjs=d.getElementsByTagName(s)[0],
				p=/^http:/.test(d.location)?'http':'https';
				if(!d.getElementById(id)){
					js=d.createElement(s);
					js.id=id;
					js.src=p+"://platform.twitter.com/widgets.js";
					fjs.parentNode.insertBefore(js,fjs);
				}
			}
			(document,"script","twitter-wjs");
		</script>
		
		<!--FancyBox-->
		<script>
			$("#iframe").fancybox({
			'width'         : '60%',
			'height'        : '90%',
			'autoScale'     : false,
			'transitionIn'  : 'none',
			'transitionOut' : 'none',
			'type'          : 'iframe'
		});
		</script>
		
		<!--Facebook-->
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1&appId=362799490517215";
			fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
		</script>
	</head>

	<body>
		<div id="header">
			<h1>#Bio</h1>
		</div>

		<div id="content">
			<a class="twitter-timeline"
				href="https://twitter.com/search?q=%23FaunaUSP+OR+%23FloraUSP+OR+%23BIOUSP+OR+%23FAUNAUSP+OR+%23FLORAUSP+OR+%23BIOBR+OR+%23FAUNABR+OR+%23FLORABR+OR+%23WORLDBIO&mode=realtime"
				data-widget-id="375406187627286530"
				data-chrome="nofooter transparent noscrollbar">
			</a>      
		</div>

		<div id="footer">
			<a id="iframe" class="fancybox" rel="group" href="about.html" title="Sobre">Sobre</a>
			<a href="https://twitter.com/share" class="twitter-share-button" data-text=" 	" data-lang="pt" data-size="small"></a>
			<div class="fb-like" data-href="http://www.biocomp.org.br/biobr" data-width="200" data-layout="button_count" data-show-faces="false" data-send="false"></div>
		</div>

		<%= gmaps4rails(@json) %>
	
	</body>
</html>
