<html>
	<head>
		<!--Twitter-->
		<script>
			!function(d,s,id){
				var js,fjs=d.getElementsByTagName(s)[0],
				p=/^http:/.test(d.location)?'http':'https';
				if(!d.getElementById(id)){
					js=d.createElement(s);
					js.id=id;
					js.src=p+"://platform.twitter.com/widgets.js";
					fjs.parentNode.insertBefore(js,fjs);
				}
			}
			(document,"script","twitter-wjs");
		</script>
		
		<!--FancyBox-->
		<script>
			$("#iframe").fancybox({
			'width'         : '60%',
			'height'        : '90%',
			'autoScale'     : false,
			'transitionIn'  : 'none',
			'transitionOut' : 'none',
			'type'          : 'iframe'
		});
		</script>
		
	</head>

	<body>
		<div id="header" style="vertical-align:bottom;padding:0px;text-align:center;font-size:34px;">
			#biobr
		</div>

		<div id="content">
			<a class="twitter-timeline"
				href="https://twitter.com/search?q=%23FaunaUSP+OR+%23FloraUSP+OR+%23BIOUSP+OR+%23FAUNAUSP+OR+%23FLORAUSP+OR+%23BIOBR+OR+%23FAUNABR+OR+%23FLORABR+OR+%23WORLDBIO&mode=realtime"
				data-widget-id="375406187627286530" 
				data-chrome="nofooter transparent noscrollbar"
				height="100%">
			</a>      
		</div>

		<div id="footer">
			<a id="iframe" class="fancybox" rel="group" href="about.html" title="Sobre">Sobre.</a>
		</div>

		<%= gmaps4rails(@json) %>
	
	</body>
</html>
