<html>
	<head>
		<style>
			#image {float:left;}
			#name {float:left;}
			#username {float:left;}
			#text {float:left;}
		</style>
	</head>
	<body>
		<% Tweet.all.each do |tweet| %>
			<% user = User.find_by_id_user(tweet.id_user) %>
		<div class="container">
			<div id="image"><img src="<%= user.profile_image %>" /></div>
			<div id="name"><b><%= user.name %></b></div>
			<br />
			<div id="username"><b>@<%= user.username %></b></div>
			<br />
			<div id="text"><%= tweet.text %></div>
			<br />
			<hr />
		</div>
		<% end %>
	</body>
</html>
